.AboutSection{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.AboutSection .Logo{
    height: 200px;
    background-color: red;
}

.AboutSection .AboutText{
    font-size: 66px;
}

.AboutSection .AboutTextTwo{
    font-size: 90px;
}