
.ContactSection{
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: #F1EFE2;
}

.ContactSection .Title{
    font-family: var(--font-family-poppins);
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 50px;
}

.ContactSection .Details {
  display: block;
}

.ContactSection .Lines {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 2px solid var(--brown-color);
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.ContactSection .Details svg{
    display: block;
    margin: 10px auto;
}
.ContactSection .Details h6{
    font-family: var(--font-family-poppins);
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: var(--brown-color);
    text-transform: uppercase;
}
.ContactSection .Details p{
    font-family: var(--font-family-poppins);
    font-size: 17px;
    font-weight: 200;
    text-align: center;
    color: var(--brown-color);
}

.ContactSection .Form{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: block;
    position: relative;
}
.ContactSection .Form h1{
    font-family: var(--font-family-poppins);
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    color: var(--brown-color);
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.ContactSection .Form label{
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    color: var(--brown-color);
    text-transform: uppercase;
}
.ContactSection .Form input{
    background-color: #F1EFE2;
}

.ContactSection .Form textarea{
    background-color: #F1EFE2;
}
.ContactSection .Form button{
    background-color: var(--brown-color);
    color: white;
}