
.Header{
  height: 60vh;    
  padding-top: 12rem;
  padding-bottom: 12rem;

}

.Header .Video{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%,-50%);
  z-index: -1;
}

.FeaturesContainer{
  background: white;
}

.Header .TextContainer{
  display: block;
}

.Header .TextContainer h3{
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  width: 50%;
  line-height: 1.4;
  color: var(--grey-color);
}

.Header .TextContainer h1{
  font-size: 66px;
  width: 50%;
  line-height: 1.6;
  color: var(--grey-color);
}

.Header .TextContainer .PlayerIcon{
  display: flex;
  position: absolute;
  right: 0;
  left: 46%;
  top: 36%;
  width: auto;
  cursor: pointer;
}

.Header .TextContainer .PlayerIcon svg{
  padding-top: 20px;
  transition: all .2s ease-in-out;
}

.Header .TextContainer .PlayerIcon:hover > svg{
  transform: scale(1.1);
}



@media screen and (max-width: 940px) {
    .Header{
      height: 56vh;
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
    .Header .TextContainer h3{
      font-size: 22px;
    }
    .Header .TextContainer h1{
      font-size: 48px;
      width: 100%;
      line-height: 1.4;
    }
    .Header .TextContainer .PlayerIcon{
      display: inline-table;
      position: relative;
      right: unset;
      left: unset;
      top: unset;
    }
}


.FeaturesContainer{
  padding-top: 3rem;
  padding-bottom: 0rem;
}

.FeaturesContainer .Feature{
  cursor: pointer;
}

.FeaturesContainer .Feature svg{
  position: relative;
  margin: 0px auto;
  width: 120px;
  min-height: 120px;
  max-height: 120px;
  display: block;
  transition: all .2s ease-in-out;
}

.FeaturesContainer .Feature:hover > svg{
  top: -30px;
  padding-bottom: 10px;
  transform: scale(1.8);
}
.FeaturesContainer .Feature:hover > h6,
.FeaturesContainer .Feature:hover > p {
  visibility: visible;
}


.FeaturesContainer .Feature h6{
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: var(--black-color);
  visibility: hidden;
}

.FeaturesContainer .Feature p{
  text-align: center;
  width: 80%;
  margin: 0px auto;
  color: var(--black-color);
  visibility: hidden;
}

@media screen and (max-width: 940px) {
  .FeaturesContainer .Feature{
    margin-bottom: 40px;
  }

  .FeaturesContainer .Feature svg{
    width: unset;
    min-height: 74px;
    max-height: 74px;
    height: 74px;
    margin-bottom: 20px;
  }

  .FeaturesContainer .Feature h6{
    visibility: unset;
  }

  .FeaturesContainer .Feature p{
    visibility: unset;
  }
}