@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --brown-color: #34412A;
    --grey-color: #D5D0CA;
    --black-color: #393939;
    --font-family-poppins: 'Poppins', sans-serif;
    --break-width: 970px;
}